.task-creating {
  margin-top: 5px;
  display: block;
  min-width: 264px;

  textarea {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #0079bf;
    display: block;
    margin: 0;
    min-width: 240px;
    height: 20px;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  textarea.vertical {
    resize: vertical;
    background-color: #fff;
    box-shadow: 0 1px 0 #091e4240;

    height: auto;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    overflow-y: auto;
    border-radius: 3px;
    cursor: pointer;
  }

  .button {
    background-color: unset;
    color: grey;
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: flex-start
    &:hover {
      background-color: #091e4214;
      color: #172b4d;
    }
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  &__add {
    height: 32px;
    cursor: pointer;
    background-color: #4e97c2;
    color: #fff;
    border: 0;
    border-radius: 3px;
    margin: 4px 4px 0 0;
    padding: 5px;
    &:hover {
      background-color: $buttonHoverColor;
    }
  }
  &__delete {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
  }
}
