.portal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 0, 0, 0.5);
  display: flex;
  justify-content: center;

  &__content {
    margin: 48px 0;
    width: auto;
  }
  &.none {
    display: none;
  }
}
