.sidebar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  &__title {
    color: #5e6c84;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 16px;
    text-transform: uppercase;
  }
  &-tile {
    position: relative;
    margin-top: 8px;

    background-color: #091e420a;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: #091e4214;
    }
    &__icon {
      margin: 0 10px;
    }
    &__contant {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      padding: 8px 6px;
    }
  }
}
.form-taskInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: white;

  &__title {
    width: 100%;
    color: #5e6c84;
    border-bottom: 1px solid grey;
    margin: 3px;
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 0.1em;
  }
  &__title-create {
    font-weight: 700;
    color: #5e6c84;
    font-size: 13px;
    line-height: 16px;
    margin: 12px 0 4px 3px;

    font-weight: bold;
    display: block;
    letter-spacing: 0.05em;
  }
  &__search {
    padding: 10px;
    font-size: 15px;
    margin: 5px 5px 5px 0;
    border-radius: 3px;
    border: 2px solid #dfe1e6;
    background-color: #fafbfc;

    &:hover {
      background-color: #ebecf0;
    }
  }
  &__secTitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: rgb(75, 72, 72);
    text-transform: uppercase;
  }
  &__back-icon {
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 20px;
    color: black;
  }

  &__delete {
    margin-top: 30px;
    padding: 0 10px 0 10px;
    background-color: red;
    &:hover {
      background-color: rgb(114, 13, 13);
    }
  }

  &__submit {
    margin-top: 30px;
    visibility: hidden;
    padding: 0 10px 0 10px;
    resize: none;

    &.active {
      visibility: visible;
    }
  }
}
.tags {
  &__single {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    min-height: 20px;
    justify-content: space-between;
  }
  &__select {
    color: white;
    visibility: hidden;
    &.active {
      visibility: visible;
    }
  }
  &__body {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;

    width: 240px;
    background-color: yellow;
    border-radius: 3px;
    padding: 8px 12px;
    display: flex;
    color: white;
    &:hover {
      width: 232px;

      box-shadow: -8px 0 #635e48;
      margin-left: 8px;
    }
  }
  &__button {
    border-radius: 3px;
    border: none;
    line-height: 20px;
    margin: 10px 0 8px 0;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #091e420a;
    cursor: pointer;

    &:hover {
      background-color: #091e4214;
    }
  }
  &__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 3px;

    &:hover {
      background-color: #091e4214;
    }
  }
}
