.all-boards {
  display: flex;
  justify-content: flex-start;

  flex-direction: column;
  margin: 40px 16px 0;
  width: 100%;
  max-width: 825px;
  min-width: 288px;
}
.recently-promoted {
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 4px 0 11px 0;
    font-weight: bold;
  }
  &__icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    .menu-icon {
      height: 25px;
      width: 24px;
    }
  }
  &__boards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
}
.recently-promoted-board {
  background-color: $boardColor;
  border-radius: 3px;
  display: flex;
  height: 80px;
  min-width: 150px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 23.5%;
  cursor: pointer;
  overflow: hidden;

  margin: 0 2% 2% 0;

  line-height: 20px;
  padding: 8px;

  &:hover {
    background-color: #843425;
    .recently-promoted-board__footer {
      .slide-icon {
        transform: translateX(0);
      }
    }
  }

  &__footer {
    align-self: flex-end;

    .slide-icon {
      transform: translateX(100px);
      color: #c0978f;
      &:hover {
        transition: all 0.2s ease-out;
        font-size: 20px;
        color: #fff;
      }
    }
  }
  &__name {
    color: #fff;
    font-weight: bold;
  }
}

.creating-board {
}

.create {
  display: flex;
  flex-direction: row;
  &__name {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(118, 181, 184);

    border-radius: 5px;
    padding: 15px 55px 15px 15px;
    input[type='text'] {
      width: 226px;
      border: none;
      padding: 5px;
      background: none;
      font-weight: bold;
      font-size: 16px;

      &::placeholder {
        color: #e7d8c3;
      }

      &:focus,
      &:hover {
        outline: none;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.15);
      }
    }
    input[type='submit'] {
      top: 105px;
      left: 0;
      position: absolute;
      padding: 10px;

      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
      }
    }
    span {
      margin-left: 5px;
      font-size: 17px;
      color: #f8edde;
    }
  }
  &__name-room {
    margin-top: 10px;
  }
  &__colors {
    width: 100px;
    height: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 0 0 8px;
  }
  &__delete {
    position: absolute;
    right: 5px;
    &.--icon {
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
}

.block {
  width: 28px;
  height: 28px;
  background-color: rgb(247, 243, 243);
  margin-bottom: 6px;
  border-radius: 5px;

  &__layer {
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--icon {
      opacity: 0;
    }
    &:hover {
      background-color: rgba(22, 21, 21, 0.295);
      color: yellow;

      .block__layer--icon {
        color: white;
        opacity: 1;
      }
    }
    &.active {
      .block__layer--icon {
        color: white;
        opacity: 1;
      }
    }
  }
}
