.edit {
  padding: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.separate-line {
  &:before {
    content: '';
    width: 1px;
    height: 18px;
    display: block;
    background: $buttonColor;
    margin: 0 6px 0 2px;
  }
}

.profile {
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  margin-right: 4px;
}
.invite {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  .modal__content {
    align-items: stretch;
  }
  &__text {
  }
}
.invite-form {
  display: flex;
  flex-direction: column;
  position: relative;

  &__error {
    color: #5e6c84;
    position: absolute;
    top: 54%;
    left: 8px;
  }
  &__title {
    width: 100%;
    color: #5e6c84;
    border-bottom: 1px solid grey;
    margin: 3px;
  }
  &__email {
    padding: 10px;
    font-size: 15px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #dfe1e6;
    background-color: #fafbfc;

    &:hover {
      background-color: #ebecf0;
    }
  }
  &__submit {
    margin-top: 30px;
  }
}
.card {
  min-width: 272px;
  min-height: 150px;

  border-radius: 3px;
  border: 5px solid;
  display: flex;
  padding: 10px;
  align-self: flex-start;
  align-items: center;
  margin: 15px;
  cursor: grab;
  flex-direction: column;

  &__title {
    font-weight: bold;
    padding: 5px;
  }
}
.tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50px;
  align-self: center;
}
.task {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}
.main {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  overflow: auto;
}
